<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1000000 seconds">

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="rollingFileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
      <!--  <customFilSystem>true</customFilSystem>-->
        <file>c:/log/applicationLogFile.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <customFilSystem>true</customFilSystem>
            <FileNamePattern>c:/log/applicationLogFileZip.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>50</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>


    <logger name="org" level="INFO"/>
    <logger name="com.adarsh.mongo" level="INFO"/>

    <root level="TRACE">
        <appender-ref ref="rollingFileAppender"/>
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>